.home {

  .homeContent {
    background: url('../../media/ocean-1.jpg');
    width: 100%;
    min-height: 500px;
    border-radius:$borderRadius; 
    overflow: hidden;

      h1 {
        text-align: center;
        margin-top: 5%;
        font-size: 2rem;
        color: $color-5;
        text-transform: uppercase;
        text-shadow: 3px 6px 2px $black;
      }
      h2 {
        text-align: center;
        margin-top: 1rem;
        font-size: 4rem;
        padding: 1.5rem 0 7rem;
        color: $color-5;
        text-shadow: 1px 4px 1px $black;
      }
      .pdf {
        text-align: center;
        a {
          font-size: 1.5rem;
          background: $color-4;
          padding: 1rem 2rem;
          border-radius: $borderRadius;
          box-shadow: 0 5px 1px rgb(15, 15, 15);
          transition: 0.2s ease;

          &:hover {
            background: $color-3;
          }
        }
      }
      .socialNetwork {
        margin-top: 20rem;
        grid-area: 3;

       ul {
         display: flex;
         width: 264px;
         padding: 0 14px;
         justify-content: space-between;

         li {
           font-size: 1.5rem;
           background: $color-5;
           color: $color-1;
           border-radius: 50%;
           padding: .5rem 0.8rem;
           transition: .3s;
           cursor: pointer;

            a:visited {
             color: $color-1;
             }
            &:nth-child(1){
             padding: .5rem .85rem
            }
            &:nth-child(4){
             padding: .5rem .75rem
            }
             &:hover {
             background: $color-4;
            }
          }
         }
    
        }
      }
   }
  

@media screen and (max-width: 850px){
  .homeContent {
    margin: 0 !important;
  }
}
@media screen and (max-width:580px){
  .homeContent {
    &:after {
    background: url('../../media/ocean.jpg') no-repeat 60% 50%/cover !important;
    }
    h1 {
      font-size: 3rem !important;
    }
    h2 {
      font-size: 1.8rem !important;
    }
  }
}